<h2>Film: <%= @film.title %></h2>


<p>Director: <%= @film.director %></p>
<p>Studio: <%= @film.studio %></p>

<!--  -->
<!-- add reviews in here -->

<% @film.reviews.each  do |review| %>
  <div class="review_box">
    <p>
      <h3><%= review.author %></h3>
    </p>
    <p>
      <%= review.number_of_stars %> out of 10
    </p>
    <p><strong>Review:</strong>
      <em><%= review.comment %></em>
    </p>
    <%= link_to 'See Review', review_path(review) %>
  </div>
<% end %>


<%#= link_to 'List of films', films_path %> 

<%= link_to 'Add a review for this film', new_film_review_path(film_id: @film.id) %>

<%= link_to 'Edit film', edit_film_path(@film) %>

<%= button_to 'Delete film', film_path(@film),
                          method: :delete, data: { confirm: 'Are you sure?' } %>