<h1>Review for <%= @review.film.title %></h1>


<%= @review.director %>
<p><%= @review.review %></p>
<p><%= @review.review_author %></p>

<%= link_to 'Films', films_path %>

<%= link_to @review.film.title, film_path(@review.film) %>


<%= link_to 'Edit Review', edit_review_path(@review) %>

<%= button_to 'Delete Review', review_path(@review),
                  method: :delete, data: { confirm: 'Are you sure?' } %>