<h2>Review for <%= @review.film.title %></h2>



<p><%= @review.comment %></p>
<p><%= @review.author %></p>

<%#= link_to 'Films', films_path %>

<%= link_to @review.film.title, film_path(@review.film) %>


<%= link_to 'Edit Review', edit_review_path(@review) %>

<%= button_to 'Delete Review', review_path(@review),
                  method: :delete, data: { confirm: 'Are you sure?' } %>