<!DOCTYPE html>
<html>
<head>
  <title>RottenBananas</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class=header>
    <h1>ROTTEN BANANAS</h1>
  </div>
  <div>
    <%= flash[:notice] %>
  </div>
  <div>
    <%= flash[:warning] %>
  </div>
<div class="THEBOX">
<%= yield %>
</div>
</body>
</html>
